.book_container {
  background-color: var(--third-text-color);
}

.booking-box {
  height: fit-content;
  width: 100vw;
  background: var(--third-text-color);
}

.booking_box h1 {
  text-align: center;
  color: var(--first-text-color);
  padding-top: 10vh;
}

.book_container h1 {
  color: var(--first-text-color);
}

.form_controller {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 8vh 3vw;
  padding-top: 3vh;
}

.form_controller label input {
  width: 40vw;
  height: 50px;
  font-size: 20px;
}

.form_controller label {
  font-size: 22px;
}

.btn_book {
  text-align: center;
  padding-left: 80%;
}

.btn_book button {
  width: 18vw;
  height: 6vh;
  border: none;
  border: 1px solid var(--second-text-color);
  font-size: 25px;
  font-weight: 600;
  background-color: transparent;
  transition: 0.5s;
  transition-duration: 2s;
  transition-property: all;
}

.btn_book button:hover {
  background-color: var(--first-text-color);
  transition: 0.5s;
  transition-duration: 2s;
}

.booking_cards {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 2vh 4vw;
  padding-top: 2vh;
  height: fit-content;
  /* overflow: scroll; */
}

.cards_box {
  width: 400px;
  height: fit-content;
}

@media all and (orientation: portrait) {
  .booking_cards {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .cards_box {
    width: 100vw;
    padding: 10px;
  }
  .booking-box form {
    grid-template-columns: auto;
    width: 100vw;
    padding: 30px;
  }
  .booking-box form label input {
    width: 100vw;
    padding: 10px;
  }
}

@media (width >= 1024px) or (width>= 769px) {
  .booking_cards {
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .cards_box {
    width: 20vw;
    padding: 10px;
  }
}
