.footer-section {
  height: fit-content;
  background-color: var(--second-text-color);
  width: 100vw;
  position: relative;
  bottom: 0;
}
.content-section {
  display: flex;
  color: #fff;
  justify-content: center;
  padding-top: 5px;
}

.img-box1 img {
  width: 30%;
}

.popular-places,
.contact,
.address {
  width: 20%;
  text-align: justify;
}

.popular-places h1,
.contact h1,
.address h1,
.recent-heading h1 {
  font-size: 40px;
  font-weight: normal;
}

.popular-places span {
  font-size: 20px;
}

.popular-places span i,
.contact span i,
.address p i {
  color: var(--first-text-color);
}

.recent-places {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vw;
}

.img-box1 img {
  height: 60px;
  width: 60px;
}

.recent-heading {
  height: 5vh;
}

.recent-places {
  height: 20vh;
  padding-top: 1vh;
}

.recent-places img {
  height: 70px;
  width: 80px;
}

.icons span i {
  font-size: 30px;
  padding: 10px;
}

@media all and (orientation: portrait) {
  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popular-places h1,
  .contact h1,
  .address h1,
  .recent-heading h1 {
    font-size: 40px;
    font-weight: normal;
  }

  .popular-places,
  .contact,
  .address {
    width: 100vw;
    text-align: center;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30vw;
  }

  .recent-places img {
    height: 50px;
    width: 60px;
  }
}

/* @media (width >= 624px) and (width <= 892px) {
  .popular-places h1,
  .contact h1,
  .address h1,
  .recent-heading h1 {
    font-size: 20px;
    font-weight: normal;
  }
  .popular-places,
  .contact,
  .address {
    width: 20%;
    text-align: justify;
  }

  .popular-places span,
  .contact span,
  .address p {
    font-size: 13px;
  }

  .icons span i {
    font-size: 20px;
    padding: 3px;
  }

  .recent-places img {
    height: 60px;
    width: 70px;
  }
} */
