.home-second-page {
  height: 150vh;
}

.total-content {
  background-color: var(--third-text-color);
  height: 60vh;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--first-text-color);
}

.heading p {
  width: 60%;
  font-size: 27px;
}

.content-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}

.content {
  width: 20%;
}

.content h1 {
  color: var(--first-text-color);
  font-size: 50px;
}

.content p {
  width: 100%;
  font-size: 20px;
}

.packages {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../public/assets/bg02.jpg");
  background-position-x: center;
  background-position-y: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.package-para {
  width: 40%;
  color: white;
}

.package-para h1 {
  font-size: 65px;
}

.package-para p {
  font-size: 30px;
}

.packages button {
  font-size: 25px;
  height: 50px;
  width: 200px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
}

.packages button:hover {
  background-color: var(--first-text-color);
}

.review-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--third-text-color);
}
.first-section {
  width: 40%;
}

.first-section p {
  font-size: 55px;
  color: var(--first-text-color);
}

.second-section {
  width: 40%;
}

.second-section h1 {
  font-size: 40px;
  margin-top: 5px;
  color: var(--first-text-color);
}

.second-section textarea {
  margin-top: 5px;
  border-radius: 5px;
  font-size: 35px;
}

.second-section textarea::placeholder {
  font-size: 45px;
}

.second-section span i {
  font-size: 35px;
  color: var(--first-text-color-);
}

@media (max-width: 1492px) {
  .total-content {
    height: 70vh;
  }
  .heading h1 {
    font-size: 50px;
  }
  .content h1 {
    font-size: 40px;
  }
  .heading p {
    width: 80%;
    font-size: 25px;
  }
  .content p {
    font-size: 23px;
  }

  .second-section img {
    height: 300px;
  }
}

@media (max-width: 884px) {
  .total-content {
    height: 80vh;
  }
  .heading h1 {
    font-size: 40px;
  }
  .content h1 {
    font-size: 30px;
  }
  .heading p {
    width: 80%;
    font-size: 23px;
  }
  .content p {
    font-size: 21px;
  }

  .package-para h1 {
    font-size: 55px;
  }

  .package-para p {
    font-size: 25px;
  }

  .packages button {
    font-size: 23px;
    height: 45px;
    width: 150px;
  }
}

@media (max-width: 724px) {
  .total-content {
    height: 85vh;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .content {
    width: 100%;
  }

  .heading h1 {
    font-size: 35px;
  }
  .content h1 {
    font-size: 25px;
  }

  .heading {
    width: 100%;
  }
  .heading p {
    width: 100%;
    font-size: 20px;
  }

  .content h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }

  .content p {
    font-size: 17px;
    text-align: justify;
    padding: 0 5% 0 5%;
  }

  .package-para h1 {
    font-size: 45px;
  }

  .package-para p {
    font-size: 23px;
    width: 90%;
  }

  .packages button {
    font-size: 21px;
    height: 40px;
    width: 120px;
  }
}

@media (max-width: 784px) {
  .first-section p {
    font-size: 35px !important;
  }

  .second-section,
  .first-section {
    max-height: 50vh;
  }

  .second-section img {
    height: 100px;
    margin-left: 25%;
  }
}

@media (max-width: 572px) {
  .total-content {
    height: 85vh;
  }
  .heading h1 {
    font-size: 30px;
  }
  .content h1 {
    font-size: 2px;
  }
  .heading p {
    width: 80%;
    font-size: 20px;
  }
  .content p {
    font-size: 18px;
  }

  .review-section {
    height: 60vh;
    width: 100vw;
  }

  .first-section p {
    font-size: 27px !important;
    width: 90%;
  }

  .second-section img {
    width: 220px;
    margin-left: -16%;
  }
}

@media (max-width: 994px) {
  .packages {
    height: 50vh;
  }

  .review-section {
    height: 50vh;
  }

  .first-section,
  .second-section {
    height: 50vh;
  }

  .second-section img {
    height: 200px;
  }

  .first-section p {
    font-size: 35px !important;
  }
}
@media (max-width: 1038px) {
  .first-section p {
    font-size: 45px;
  }
}

@media (max-width: 894px) {
  .review-section {
    height: 50vh;
  }

  .first-section,
  .second-section {
    height: 50vh;
  }

  .second-section img {
    height: 200px;
  }
}

@media (max-width: 494px) {
  .first-section p {
    font-size: 25px !important;
  }
}
