.navbarmain {
  position: fixed;
  z-index: 999;
  background-color: var(--third-text-color);
  height: 12vh;
  width: 100vw;
}

#logoweb {
  font-size: 50px;
  color: var(--second-text-color) !important;
  width: 55vw;
  padding-top: 3vh;
}

.backgroundbg {
  padding-top: 2vh;

  text-align: center;
}

.backgroundbg a {
  transition: 0.5s;
  text-align: center;
  font-size: 20px;
  color: #000 !important;
  padding: 1vh;
  padding-top: 2vh;
}

#navbtn {
  margin-top: 6vh;
}

@media (max-width: 1324px) {
  .backgroundbg a {
    font-size: 15px;
  }
}
