.rooms_container h1 {
  color: var(--first-text-color) !important;
}

.rooms_cards {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 2vh 4vw;
  padding-top: 2vh;
}

.rooms_box {
  width: 400px;
  height: fit-content;
}

@media all and (orientation: portrait) {
  .rooms_cards {
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .rooms_box {
    width: 100vw;
    padding: 10px;
  }
}

@media (width >= 1024px) or (width>= 769px) {
  .rooms_cards {
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .rooms_box {
    width: 20vw;
    padding: 10px;
  }
}
